<aside class="bag">
    <img src="/img/icons/enter-white.svg" alt="" class="enter-white continue" id="login-selector">
    <div class="bag-item"><a href="/login">Login</a></div>
    <img src="/img/icons/enter-white.svg" alt="" class="enter-white continue" id="signup-selector">
    <div class="bag-item"><a href="/signup">Signup</a></div>
</aside>