<header class="header">
    <nav class="navbar">
        <a href="/">PokeMon App</a>
        <div class="search-bar">
            <a href="/arena">Search</a>
            <form action="/search" method="post">
                <input type="text" id="nav-search" placeholder="Name or number" name="navbarPokemon">
                <button type="submit" class="continue"><img src="/img/icons/enter.svg" alt=""></button>
                <button type="button" class="continue"><img src="/img/icons/enter.svg" alt="">"DB"</button>

            </form>
        </div>
    </nav>
</header>