<aside class="pokebelt">
    <div class="pokeball-container">
        <img src="./img/pokeballs/pokeball.png" alt="" class="pokeball">
    </div>
    <div class="pokeball-container">
        <img src="./img/pokeballs/pokeball.png" alt="" class="pokeball">
    </div>
    <div class="pokeball-container">
        <img src="./img/pokeballs/pokeball.png" alt="" class="pokeball">
    </div>
    <div class="pokeball-container">
        <img src="./img/pokeballs/pokeball.png" alt="" class="pokeball">
    </div>
    <div class="pokeball-container">
        <img src="./img/pokeballs/pokeball.png" alt="" class="pokeball">
    </div>
    <div class="pokeball-container">
        <img src="./img/pokeballs/pokeball.png" alt="" class="pokeball">
    </div>
</aside>