<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head') %>
    <script defer src="/js/home.js"></script>
    <title>PokeDex</title>
</head>
<body>
    <%- include('../views/partials/header') %>
    <%- include('../views/partials/pokebelt') %>
    <%- include('../views/partials/bag') %>
    <main class="main">
        <div class="wrapper">
        </div>
        <section class="about">
            <h2>About the app</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi eos voluptate quas asperiores laboriosam, perspiciatis ratione ad odit? Labore reprehenderit eius distinctio voluptatum placeat unde recusandae est consectetur nulla quisquam. <img src="/img/icons/enter.svg" alt="" class="continue"></p>
        </section>
    </main>
</body>
</html>