<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head') %>
    <script defer src="/js/home.js"></script>
    <title>PokeDex</title>
</head>
<body>
    <%- include('../views/partials/header') %>
    <%- include('../views/partials/bag') %>
    <main class="main">
        <div class="wrapper">
            
        </div>
    </main>
</body>
</html>