<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://github.com/JonKaric/head -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Homepage of the Pokemon PokeDex Versus web app!">
    <meta property="og:url"                 content="http://www.example.com" />
    <meta property="og:title"               content="Website page title" />
    <meta property="og:description"         content="A brief description of the content" />
    <meta property="og:site_name"           content="Example" />
    <meta property="og:image"               content="http://www.example.com/image.jpg" />
    <meta property="fb:app_id"              content="000000" />  <!-- Used for Domain Insights -->
    <meta property="og:type"                content="website" /> <!-- website is deafult -->
    <meta property="og:locale"              content="en_US" />   <!-- en_US is deafult -->
    <meta name="twitter:card"               content="summary">
    <meta name="twitter:site"               content="@your_sites_username">
    <meta name="twitter:title"              content="Page Title">
    <meta name="twitter:description"        content="Page description less than 200 characters">
    <meta name="twitter:image"              content="http://www.example.com/image.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Use of defer mean js file will load after html loads -->
    <script defer src="/js/main.js"></script>
    
    <title>PokeDex</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/">PokeMon App</a>
            <div class="search-bar">
                <a href="/test">Search</a>
                <form action="/search" method="post">
                    <input type="text" placeholder="Name or number" name="navbarPokemon">
                    <button type="submit" class="continue"><img src="/img/icons/enter.svg" alt=""></button>
                </form>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="wrapper results">
            <div class="pokedex-grid">
                <div class="pokemon-pic">
                    <div>
                        <!-- call pokemon image here -->
                        <img src="/img/temp/7.png" alt="squirtle image">
                        <div class="pokemon-number">
                            <!-- call pokemon number here -->
                            No.7
                        </div>
                    </div>
                </div>
                <div class="pokemon-info">
                    <div class="name">
                        <!-- call pokemon name here -->
                        Squirtle
                    </div>
                    <div class="hp">
                        232/232
                    </div>
                </div>
                <div class="pokemon-stats">
                    Base Stats
                    <div>
                        HP
                        <div class="hp">
                            <!-- call pokemon hp here -->
                            44
                        </div>
                    </div>
                    <div>
                        ATTACK
                        <div class="attack">
                            <!-- call pokemon attack here -->
                            48
                        </div>
                    </div>
                    <div>
                        DEFENSE
                        <div class="defense">
                            <!-- call pokemon defense here -->
                            65
                        </div>
                    </div>
                    <div>
                        Sp.ATK
                        <div class="spAtk">
                            <!-- call pokemon special attack here -->
                            50
                        </div>
                    </div>
                    <div>
                        Sp.DEF
                        <div class="spDef">
                            <!-- call pokemon special defense here -->
                            64
                        </div>
                    </div>
                    <div>
                        SPEED
                        <div class="speed">
                            <!-- call pokemon speed here -->
                            43
                        </div>
                    </div>
                    <div>
                        TOTAL
                        <div class="total">
                            <!-- call pokemon total here -->
                            314
                        </div>
                    </div>
                </div>
                <div class="pokemon-types">
                    Type 1 /
                    <div class="type-one">
                        <!-- call pokemon type1 here -->
                        Water
                    </div>
                    Type 2 /
                    <div class="type-two">
                        <!-- call pokemon type2 here -->
                        Water
                    </div>
                </div>
                <div class="pokemon-blurb">
                    ladsfkdjhfk sadfk jdas;fkljads;lkfjas;ld dkj fa;lskdj
                </div>
                <div class="pokemon-blurb">
                    ladsfkdjhfk sadfk jdas;fkljads;lkfjas;ld dkj fa;lskdj
                </div>
            </div>
        </div>
    </main>
    <script src="/img/feather-icons/dist/feather.js" ></script>
</body>
</html>