@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #A9A9A9;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: 'Press Start 2P', cursive;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding: 1.5rem 2rem 1.5rem 3rem;
}

.navbar .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  color: inherit;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  vertical-align: middle;
}

.navbar .search-bar div {
  vertical-align: middle;
}

.navbar .search-bar a {
  font-size: 75%;
}

.navbar a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar a:hover {
  color: inherit;
}

.navbar a:visited {
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d4dcd7;
  width: 100%;
  max-height: 12.5vh;
  border-style: solid;
  border-image-slice: 11.5% 11.5% 11.5% 11.5%;
  border-image-width: 1.5em 1.5em 1.5em 1.5em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url(/img/icons/border.svg);
  z-index: 3;
}

.divider {
  height: 12.5vh;
  width: 100%;
}

.continue {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: flickerAnimation 1.5s infinite;
          animation: flickerAnimation 1.5s infinite;
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input {
  border: none;
  border-radius: 15px;
  padding: .75rem;
  background-color: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}

input:focus {
  outline: none;
}

button {
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.results {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.main {
  margin-top: 13.5vh;
}

.pokedex-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2.5rem;
  margin-bottom: 10vh;
}

.pokedex-grid .pokemon-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

.pokedex-grid .pokemon-pic div {
  position: absolute;
}

.pokedex-grid .pokemon-pic div img {
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: 1;
}

.pokedex-grid .pokemon-pic div .pokemon-number {
  position: absolute;
  bottom: 10px;
  right: 90px;
}

.pokedex-grid .pokemon-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 5px solid black;
}

.pokedex-grid .pokemon-stats {
  border-style: solid;
  border-image-slice: 11.5% 11.5% 11.5% 11.5%;
  border-image-width: 1.5em 1.5em 1.5em 1.5em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url(/img/icons/border.svg);
  padding: 1rem;
}

.pokedex-grid .pokemon-stats div {
  padding: 2px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.pokedex-grid .pokemon-stats div div {
  -ms-grid-column-align: end;
      justify-self: end;
}

.pokedex-grid .pokemon-types {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 25%;
  margin-top: 10vh;
  margin-left: 5vw;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.pokedex-grid .pokemon-types div {
  -ms-grid-column-align: center;
      justify-self: center;
}

.pokedex-grid .pokemon-blurb {
  border-style: solid;
  border-image-slice: 11.5% 11.5% 11.5% 11.5%;
  border-image-width: 1.5em 1.5em 1.5em 1.5em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url(/img/icons/border.svg);
  padding: 1rem;
  margin-bottom: 5vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d4dcd7;
  width: 70%;
  height: 50vw;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-image-slice: 11.5% 11.5% 11.5% 11.5%;
  border-image-width: 1.5em 1.5em 1.5em 1.5em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url(/img/icons/border.svg);
}

.wrapper .form-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 1rem;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  margin: auto;
  padding: 15vw;
}

.wrapper .form-wrapper * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .form-wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.about {
  background-color: #d4dcd7;
  padding: 1rem;
  border-style: solid;
  border-image-slice: 11.5% 11.5% 11.5% 11.5%;
  border-image-width: 1.5em 1.5em 1.5em 1.5em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url(/img/icons/border.svg);
}

.about h2 {
  padding: .5rem;
}

.about p {
  padding: 1rem;
}
