.wrapper{
    @include flexAlignCenter;
    background-color: $tertiary-color-light;
    width: fit-content;
    height: 50vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include pokeBorder;
    
    

    .form-wrapper{
        @include cssGrid(1rem, 1 );
        margin: auto;
        padding: 15vw;
        border-image-slice:6% 6% 6% 5%;
        border-image-width:1.5em 1.5em 1.5em 1.5em;
        border-image-outset:0px 0px 0px 0px;
        border-image-repeat:round round;
        border-image-source: url(/img/icons/border.svg);

        *{
            @include flexAlignCenter;
        }



        span{
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
        }
    }

}

.about{
    background-color: $secondary-color-light;
    padding: 1rem;
    @include pokeBorder;

    h2{
        padding: .5rem;
    }
    p{
        padding: 1rem;
    }
}



