.results{
    height: fit-content !important;
    position: relative;
    width: min-content;
}

.main{
    margin-top: 13.5vh;
}

.pokedex-grid{
    @include cssGrid(16px, 1fr 1fr);
    padding: 2.5rem;
    min-width: 60vw;

    .pokemon-pic-front{
        @include flexAlignCenter;
        height: 200px;
        // width: 256px;
    
            img{
                height: 200px;
                filter: grayscale(100%);
                z-index: 1;
            }
            div::first-letter{
                text-transform: uppercase;
            }
    }
    
    .pokemon-info{
        @include flexAlignCenter;
        border-bottom: 5px solid black;
        
        .pokemon-pic-back{
            @include flexAlignCenter;
            height: 200px;
            img{
                height: 200px;
                // width: 256px;
                filter: grayscale(100%);
                z-index: 1;
            }
        }
    }

    .pokemon-stats{
        @include pokeBorder;
        padding: 1rem;
        div{
            padding: 2px;
            @include cssGrid(0, 1fr);

            div{
                justify-self: end;
            }
        }
    }

    .pokemon-types{
        @include cssGrid(0, 1fr);
        height: 25%;
        margin-top: 10vh;
        margin-left: 5vw;
        border-bottom: 5px solid black;
        border-right: 5px solid black;

        div{
            justify-self: center;
        }
        .type-one::first-letter,.type-two::first-letter{
            text-transform: uppercase
        }
    }
}


