.bag{
    position: absolute;
    width: fit-content;
    margin: 0px;
    top: 15%;
    right: 1rem;
    @include cssGrid(0px, 16px auto);
    border-radius: 15px;
    // border: solid black 2px;
    @include pokeBorder;
    padding: 8px 16px 8px 20px;
    background-color: $tertiary-color-light;

    .bag-item{
        margin: 1rem;

    }

    .enter-white{
        height: 24px;
        width: 24px;
    }

    #login-selector{
        visibility:hidden;
        margin: auto;
    }

    #signup-selector{
        visibility: inherit;
        margin: auto;
    }
}