.continue-90{
    transform: rotate(90deg);
    
    animation: flickerAnimation 1.5s infinite;

}

.continue{    
    animation: flickerAnimation 1.5s infinite;

}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}